<img alt="5th Dan Mark Hallam with Bokken" data-align="center" data-entity-type="file" data-entity-uuid="41e25c44-0252-4cf6-971e-491a69ab9e35" height="356" src="/sites/default/files/inline-images/BYU%202017%20Mark%20bo%20exercise.jpg" width="433" />
<p>&nbsp;</p>
<img alt="Mission Statement - BW" data-align="center" data-entity-type="file" data-entity-uuid="66b0cbfd-f0e7-4f9c-8a0d-e97d476cdd9d" height="158" src="/sites/default/files/inline-images/Mission%20Statement%20-%20BW.jpg" width="842" />
<p><strong>Q:&nbsp;How is AKDS different/similar to other martial arts?</strong><br />
<strong>A:</strong>&nbsp;Like many other styles, Karate-Do Shotokai uses kicks, punches, blocks, and other self defense techniques. There are, however, differences in the way these techniques are employed. In particular, we emphasize more relaxed and fluid movements while maintaining necessary speed and penetration. Training courses and practice sessions are held regularly—come join us and experience the difference for yourself!<br />
<br />
<strong>Q:&nbsp;What is your focus?</strong><br />
<strong>A:</strong>&nbsp;Self defense. In the process one can also gain discipline, integrity, respect, flexibility, strength, relaxation, control, skill, and awareness.<br />
<br />
<strong>Q:&nbsp;What is a typical practice session like?</strong><br />
<strong>A:</strong>&nbsp;Average sessions lasts 1-3 hours and have three main parts:<br />
<em>&nbsp;&nbsp; -&nbsp;<strong>Kata:</strong>&nbsp;Set patterns of techniques used to gain focus, relaxed body condition, and to develop proper musculoskeletal control;<br />
&nbsp;&nbsp; -&nbsp;<strong>Kihon:</strong>&nbsp;Various exercises demonstrated and practiced with numerous partners to develop fluidity, relationship, timing, distance, focus, power, speed, placement, etc.<br />
&nbsp;&nbsp; -&nbsp;<strong>Kumite:</strong>&nbsp;Applied exercises in a more free and realistic setting for testing ones ability.</em><br />
<br />
<strong>Q:&nbsp;What karate etiquette do you follow?</strong><br />
<strong>A:</strong>&nbsp;Following are basic precepts we adhere to:<br />
- Bow as you enter/leave the practice hall (dojo);<br />
- Bow to your partner between exercises;<br />
- Get water only during explanations/demos;<br />
- Quietly focus during training exercises—it is not appropriate to stop and talk or rest in the middle of a practice exercise (if you need to speak to an instructor, simply raise your hand anytime);<br />
- Always feel free to ask questions during explanations/demos;<br />
- No idle chatter during explanations/demos— not only is it rude, but it can be dangerous as it interferes with comprehending and executing the practice exercises safely and competently;<br />
- Show respect to any instructor as they teach;<br />
- Work hard, do your best, then give a bit more!<br />
<br />
&nbsp;</p>

<p><strong>Q:&nbsp;Do you train with weapons?</strong><br />
<strong>A:</strong>&nbsp;Yes, some. To aid in training and the development of proper body condition we use the bo (staff) and the bokken (wooden sword).<br />
<br />
<strong>Q:&nbsp;What about tournaments and competition?</strong><br />
<strong>A:</strong>&nbsp;We do not participate in tournaments or competition because the goals of such activities differ from self defense. Instead of training&nbsp;<em>against opponents&nbsp;</em>for points, we train&nbsp;<em>with partners&nbsp;</em>in order to understand the workings of the human body and use that knowledge for self-defense as stated in our mission.<br />
<br />
<strong>Q:&nbsp;Do you wear any special protective gear?</strong><br />
<strong>A:</strong>&nbsp;No. We practice barefoot, on smooth, hard surfaces, and do not wear protective gear to avoid the unrealistic distances and timings doing so often creates.<br />
<br />
<strong>Q:&nbsp;Is practice safe?</strong><br />
<strong>A:</strong>&nbsp;Yes, very. Because experience and abilities are developed over time in controlled but focused exercises, participants progress in a safe, relaxed atmosphere. The only injuries one is likely to incur are aching muscles and minor bumps and bruises. All participants must have proof of insurance to practice.<br />
<br />
<strong>Q:&nbsp;Do you shout when you attack?</strong><br />
<strong>A:</strong>&nbsp;No. We develop methods of releasing explosive energy without the muscular tension that the traditional shout/yell (kiai) creates.<br />
<br />
<strong>Q:&nbsp;What do you wear to practice?</strong><br />
<strong>A:</strong>&nbsp;A white uniform called a gi (gee with a "g" as in go) and colored ranking belts similar to other martial arts. Until you have a gi, loose pants and a t-shirt are fine. Do not wear jeans, shorts, watches, rings, bracelets, necklaces, earrings, etc., and please keep finger and toe nails trimmed for safety.<br />
<br />
<strong>Q:&nbsp;How can I buy a gi or other equipment?</strong><br />
<strong>A:</strong>&nbsp;Discounted orders are placed for AKDS members on a regular basis. Your instructor can assist with sizes and other questions.</p>

<p><strong>Q:&nbsp;What does it cost?</strong><br />
<strong>A:</strong>&nbsp;AKDS is an official 501(c)7 non-profit membership organization created for the furthering of karate-do and to improve local communities. No AKDS instructors or administrators are paid, but freely donate their time and expertise. Annual AKDS membership fees, as well as local club dues, are collected to cover operating and travel costs, training, certificates, equipment, etc.<br />
<br />
<strong>Q:&nbsp;What about age, gender and experience?</strong><br />
<strong>A:</strong>&nbsp;Club membership is open to both men and women age 18 years and up, with a few AKDS classes for children in certain areas. Because all exercises are based on repeated, simple, true principles of body mechanics, one can start training with any club at any time regardless of prior ability or experience.<br />
<br />
<strong>Q:&nbsp;Where can I get more info?</strong><br />
<strong>A:</strong>&nbsp;The following websites and books are good sources of information on Harada Sensei’s methods and philosophy (also, click on MEDIA then LITERATURE above):<br />
&nbsp;&nbsp; - www.karatedoshotokai.com;<br />
&nbsp;&nbsp; - www.shotokai.org;<br />
&nbsp;&nbsp; -&nbsp;<em>Karate Master: The Life and Times of Mitsusuke Harada</em>, by Dr. Clive Layton;<br />
&nbsp;&nbsp; -&nbsp;<em>Reminiscences</em>, by Dr. Clive Layton;<br />
&nbsp;&nbsp; -&nbsp;<em>The Voice of the Mountain Dragon: Practising with Harada Sensei</em>, by Bernard Mathieu.<br />
<br />
<strong>Q:&nbsp;Will American KDS join our martial arts cooperative group and share/adopt practice methods?</strong><br />
<strong>A:</strong>&nbsp;In KDS practice you will often catch glimpses of techniques from other styles like Aikido and Kendo--this is because we look for martial truths where ever they are found. Because Harada Sensei's unique philosophy and training methods are based on true principles of body mechanics and the laws of physics, exercises are being developed constantly in an effort to reach greater heights, earlier, while still maintaining quality practice. Such lofty ideals must keep the object of pure self-defense always in view. Attempting to meld with other styles that have differing goals is not a focus of Karate-Do Shotokai.<br />
<br />
<strong>Q:&nbsp;Is there a club in my area?</strong><br />
<strong>A:</strong>&nbsp;Click on "CLUBS" above to find out!</p>
