<img alt="BYU 2017 Course Group Pic" data-align="center" data-entity-type="file" data-entity-uuid="9b188776-1e21-48d5-a8ce-1e8d611645c6" height="243" src="/sites/default/files/inline-images/BYU%20Annual%20Course%202017_1.jpg" width="678" />
<h2><em><strong>WELCOME TO OUR OFFICIAL&nbsp;SITE!</strong></em></h2>

<p>&nbsp; &nbsp; &nbsp;To find a&nbsp;club near&nbsp;you select&nbsp;"Clubs" above, or "Media" to watch a video.&nbsp;&nbsp;If you are a member, Log-In (above right) to&nbsp;create/edit&nbsp;your&nbsp;membership profile, pay dues,&nbsp;shop in the online store, or access special members-only content.</p>

<hr />
<h2><strong>What is American KDS?</strong></h2>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "<strong>KDS</strong>" stands for <strong>K</strong>arate-<strong>D</strong>o <strong>S</strong>hotokai.&nbsp; <em>Karate-Do</em> is the <em>Way of the Empty Hand</em>.&nbsp; <em>Shoto</em> was a pen name for Gichin Funakoshi (O'Sensei)--the widely acknowledged father of modern karate. <em>Kai</em> means group.&nbsp; Thus <em>Shotokai</em> is "O'Sensei's Group" who study and teach the <em>Way</em> of the <em>Empty Hand</em>.<br />
<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Mitsusuke Harada Sensei (see video at the side), trained personally with O'Sensei and was awarded the highest rank of 5th Dan by him.&nbsp; He continues to further this art as head of the KDS based in the UK.&nbsp; He visited America personally in 1998 and adopted American KDS as the only group here practicing under his direction.</p>
<img alt="Sensei triplepane - BW" data-align="center" data-entity-type="file" data-entity-uuid="00b04d37-f48c-4286-b20a-1a8a7a560dec" height="197" src="/sites/default/files/inline-images/Sensei%20triplepane%20-%20BW.jpg" width="679" />
<h2>&nbsp;</h2>

<p>
<video controls="" data-align="center" data-entity-type="file" height="360" width="480"><source src="sites/default/files/Sensei_50th_UK.mp4" type="video/mp4" /> Your browser does not support the video tag.</video>
</p>

<p>&nbsp;</p>

<h2><strong>Our Mission</strong></h2>

<p>&nbsp; &nbsp;We seek tranquility in the midst of conflict or danger, and strive to control our bodies, minds and emotions to be able to avoid conflict when possible, defend ourselves as necessary and protect others when able.</p>

<h2><strong>How Do I Join AKDS?</strong></h2>

<div class="row">
<div class="col-sm-10">Just click on the red "<a href="/user/register">Join Now!</a>" button.&nbsp; You will be taken to a secure page that will let you become a member, pay dues, buy discounted martial arts equipment, update your member profile, and access special members-only content.</div>

<div class="col-sm-2"><input class="btn btn-danger" onclick="javascript: document.location='/user/register';" type="button" value="Join Now!" /></div>
</div>
<img alt="Sensei Teaching" data-align="center" data-entity-type="file" data-entity-uuid="ce1421e0-1095-470e-9c14-6e7d4a24d36e" height="237" src="/sites/default/files/inline-images/Sensei%20Teaching.jpg" width="636" />