<img alt="Sensei Kata" data-align="center" data-entity-type="file" data-entity-uuid="e88b1073-b547-4e51-a6a6-811c785a4958" src="/sites/default/files/inline-images/sensei_kata_hangetsu.jpg" />
<p>&nbsp; &nbsp; &nbsp; &nbsp;A "Kata" (or form) is a set routine that combines basic techniques which practitioners memorize and perform individually or in groups.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;AKDS practice employs kata as a form of body-building&nbsp;to aid in correct muscle development and control. &nbsp;As a modern tradition in general, some styles perform kata very fast with group members out of sync, snapping their gi with each movement, and yelling out "kiai's" as they go. &nbsp;Thanks to Harada Sensei's genius in practice development, AKDS kata are performed in a unique way that improves the body condition necessary for economy of movement and lack of tension, while simultaneously maintaining power and control. &nbsp;Come join us at practice and experience the difference for yourself!</p>

<p><em>&nbsp; &nbsp; &nbsp; &nbsp;<strong>NOTE: </strong>When translating martial arts terms, the meanings of the names of the kata are especially ambiguous. &nbsp;Harada Sensei has stated that even Japanese karate practitioners (including himself) aren't&nbsp;quite sure just what some of them mean. &nbsp;Theoretically many of them are based on famous duels that occurred in the distant past, and theoretically some of the names may have something to&nbsp;do with the circumstances of those duels.</em></p>

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The "Taikyoku" kata seem to have reference to the idea of "NOBLE" or "INTENSE" maybe portraying&nbsp;"THE HIGHEST EXTREME."</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;Below are videos of the&nbsp;first three beginning kata that all AKDS practitioners embark on a study of, performed by 5th Dan Jeremy Crook. &nbsp;Following these initial three, are two "weaponized" variations developed by KDS for additional muscle control training...</p>

<p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/p7e4R5GXSu4"></iframe></p>

<p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/wzVbc27mvyw"></iframe></p>

<p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/FbmRBdD8xRs"></iframe></p>

<p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/dML_mKlQeCs"></iframe></p>

<p><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/qjOvegMM6mc"></iframe></p>

<p><em><strong>&nbsp; &nbsp; &nbsp; &nbsp;NOTE: Just as the meaning of "Taikyoku" was briefly explained above, on each individual kata page on this website (found under the "Media" link above), a short line or paragraph will be included to shed light on the translation and possible original thought or meanings behind the names of each individual or group of kata. &nbsp;These ideas are based on personal interviews with Harada Sensei and some additional translation research by 2nd Dan Peter Enyeart who&nbsp;studied Japanese and lived in Japan for nearly a decade.</strong></em></p>

<h1><em><strong>Become an AKDS member to view Advanced kata explanations and videos!</strong></em></h1>
