<div class="row">
    <div class="col-sm-12">
    <p>&nbsp;</p>
    
    <center><strong>Want to pay dues?</strong>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" class="text-center" method="post" target="_top"><input name="hosted_button_id" type="hidden" value="ELN4BDL6C4PPQ" /> &nbsp;<img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" /><span style="vertical-align: sub;">PLEASE </span><u style="vertical-align: sub;"><em><strong>DO NOT</strong></em></u><span style="vertical-align: sub;">&nbsp;USE THE DONATE BUTTON!</span></form>
    
    <p><sub>GO TO:&nbsp; <em><strong>Log In</strong></em> &gt; <em><strong>Member Content</strong></em> &gt; <em><strong>Pay Dues</strong></em></sub></p>
    
    <p>&nbsp;</p>
    </center>
    
    <center><strong>Want to donate&nbsp;to our 501(c)7 non-profit cause?</strong>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" class="text-center" method="post" target="_top"><input name="hosted_button_id" type="hidden" value="ELN4BDL6C4PPQ" /> <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" /></form>
    
    <p><em>(Thank you! All donations help further the progress of AKDS and are non-refundable.)</em></p>
    </center>
    </div>
    </div>
    