<div style="width:30%;"><img alt="Jeremy 5th Wales 2016" data-align="center" data-caption="&lt;em&gt;Jeremy Crook becomes America's first 5th Dan, Wales, UK 2016&lt;/em&gt;" data-entity-type="file" data-entity-uuid="2296a767-102f-4444-ac16-c1982560ed91" height="403" src="/sites/default/files/inline-images/Jeremy%205th%20Wales%202016.JPG" width="537" />
<h1><a href="/sites/default/files/akds_belt_grading_-_basic_standards_-_2_dec_2014.pdf"><img alt="pdf file image" data-entity-type="file" data-entity-uuid="be01c4a2-5e51-4aaf-affb-25f5cbdded7e" src="/sites/default/files/inline-images/pdf.png" style="width:48px;" /></a>Adult Grading</h1>

<p>This document sets forth the requirements for all adult belts.</p>

<h1><a href="/sites/default/files/akds_youth_club_standards_-_new_for_2015.pdf"><img alt="pdf file image" data-entity-type="file" data-entity-uuid="be01c4a2-5e51-4aaf-affb-25f5cbdded7e" src="/sites/default/files/inline-images/pdf.png" style="width:48px;" /></a>Youth Grading</h1>

<p>This document outlines youth club&nbsp;standards&nbsp;and&nbsp;belt grade&nbsp;requirements.</p>

<hr />
<h2>Click on each grade below to see the requirements for that belt...</h2>
</div>

<hr />